resources/Node_red/Node_red.json
[{"id":"3e89d9bed2c02077","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c6676709352088cf","type":"mqtt in","z":"3e89d9bed2c02077","name":"Sensor_value","topic":"/insa/Sensor_boubou/sens","qos":"2","datatype":"auto-detect","broker":"db4fefe372b83f39","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":300,"wires":[["5d55606eaeeb8c4f","84c499787697450c","783628ade239fc93","17bbe1db4c1f67bf"]]},{"id":"5d55606eaeeb8c4f","type":"ui_gauge","z":"3e89d9bed2c02077","name":"","group":"b8f0ebe360136a92","order":1,"width":"0","height":"0","gtype":"gage","title":"Actual_Sensor_Value","label":"units","format":"{{value}}","min":"0","max":"1000","colors":["#33d17a","#f6d32d","#c01c28"],"seg1":"350","seg2":"500","diff":false,"className":"","x":680,"y":340,"wires":[]},{"id":"84c499787697450c","type":"ui_chart","z":"3e89d9bed2c02077","name":"","group":"b8f0ebe360136a92","order":2,"width":"0","height":"0","label":"Sensor_value_History","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":300,"wires":[[]]},{"id":"798669de057c50b8","type":"ui_audio","z":"3e89d9bed2c02077","name":"ALED","group":"b8f0ebe360136a92","voice":"urn:moz-tts:speechd:French%20(Switzerland)+Henrique?fr-CH","always":"","x":670,"y":420,"wires":[]},{"id":"783628ade239fc93","type":"function","z":"3e89d9bed2c02077","name":"function 3","func":"\nif (msg.payload>=900){\n    msg.payload = \"DANGER!\"\n}else {msg.payload =\"\"}\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["798669de057c50b8","ea458913a1651d13"]]},{"id":"ea458913a1651d13","type":"ui_text","z":"3e89d9bed2c02077","group":"b8f0ebe360136a92","order":4,"width":0,"height":0,"name":"","label":"TTS message : ","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":700,"y":480,"wires":[]},{"id":"17bbe1db4c1f67bf","type":"debug","z":"3e89d9bed2c02077","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":140,"wires":[]},{"id":"db4fefe372b83f39","type":"mqtt-broker","name":"Broker_david","broker":"srv-chirpstack.insa-toulouse.fr","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b8f0ebe360136a92","type":"ui_group","name":"Dashboard","tab":"12d49aa87e9adf65","order":1,"disp":true,"width":"15","collapse":false,"className":""},{"id":"12d49aa87e9adf65","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d8907c6f9c3ec7c4","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]